/* Category delete page custom css start */
.del_butn,
.edit-icon {
  cursor: pointer;
}
/* Category delete page custom css end */

/* Album show page custom css start */
.album-info-label .album-passcode {
  cursor: pointer;
  color: green;
}
/* Album show page custom css end */

/* Portfolio album page custom css start */
.back-link {
  position: absolute;
  left: 15px;
  top: 70px;
  z-index: 1;
  color: #555;
  text-decoration: underline;
}
.back-link .fa {
  margin-right: 5px;
}
.portfolio-album-thub-wrap {
  margin-top: 30px;
}
.portfolio-album-thub-wrap .overlay {
  cursor: zoom-in;
}
.portfolio-album-thub-wrap .fa-search-plus {
  color: #f9a11d;
}
/* Portfolio album page custom css start */

div.filepicker {
  padding: 39px !important;
}
