.feedback-wrap{
    background: url('../images/feedback/feedback-bg-with-overlay.png');
    background-size: cover;
    padding-top: 94px;
    padding-bottom: 60px;
}
.feedback-item{
    padding:10px 50px;
}
.carousel-control{
    width: 15px;
    background-image:none !important;
}
.feedback-img-wrap{
    position: relative;
    padding: 30px;
}
.feedback-img-wrap:after, .feedback-img-wrap:before{
    position: absolute;
    content:'';
    background-image: url('../images/feedback/img-design.png');
    display: block;
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
}
.feedback-carousel .carousel-indicators{
    bottom:-40px;   
}
.feedback-carousel .carousel-control{
    opacity: 0.8;
}
.feedback-carousel .carousel-control span{
    font-size: 22px;
}
.feedback-carousel .carousel-control .glyphicon-chevron-left{
    margin-left: -20px;
}
.feedback-carousel .carousel-control .glyphicon-chevron-right{
    margin-right: -20px;
}
.feedback-carousel .carousel-indicators li, .feedback-carousel .carousel-indicators .active{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.feedback-carousel .carousel-indicators .active{
    margin: 1px !important;
}

.feedback-img-wrap:before{
    top: 0;
    right: 0;
}

.feedback-img-wrap:after{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 0;
    bottom: 0;
}

.feedback-content-wrap{
    padding:30px 0 0 50px;
    line-height: 22px;
    font-family: 'ralewaylight';        
}
.feedback-title{
    padding: 8px 0;
    text-transform: capitalize;
    font-family: 'ralewaysemibold';    
    letter-spacing: 0.08em;
    font-size: 24px;
}
.feedback-rating{
    margin-top:15px;
    float: left;
    position: relative;
    padding-left: 0;
    font-size: 18px;
    color: #f9a11d;
}
.feedback-rating span.fa{
    margin: 0 3px;
    font-size: 20px;
}