.custom-loader {
  padding-top: 90px;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}
.page-loader {
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
}
.homepage-loader {
  height: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -20px 0 0 -20px;
}
.page-error-wrap {
  background: #fff;
}
.loading-error {
  width: 100%;
  text-align: center;
  color: #d80000;
  position: absolute;
  top: 50%;
  left: 0;
}
