.loader {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
}
.loader-overlay {
  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  left: 15px;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.image-loader-overlay {
  display: block;
  width: calc(100% - 0px) !important;
  left: 0px !important;
}
.loadingCirclePoint___3md-S:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #f9a11d !important;
  border-radius: 30%;
  -webkit-animation: pointFade___2RA5J 1.2s infinite ease-in-out both;
  animation: pointFade___2RA5J 1.2s infinite ease-in-out both;
}
.text-yellow {
  color: #f9a11d;
}
.text-red {
  color: #e22122 !important;
}
.text-green {
  color: #00991a;
}
.text-brown {
  color: #a64301;
}
.m-t-15 {
  margin-top: 15px;
}
.m-r-10 {
  margin-right: 10px;
}

.page-animation-enter {
  opacity: 0.01;
}
.page-animation-enter.page-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.page-animation-leave {
  opacity: 1;
}
.page-animation-leave.page-animation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.page-animation-appear {
  opacity: 0.01;
}
.page-animation-appear.page-animation-appear-active {
  opacity: 0.01;
}
.p-t-40 {
  padding-top: 40px;
}
.text-white:hover, .text-white:focus{
  color: #ffffff
}

/* pagination css start */
.custom-pagination {
  float: right;
  margin-top: 0;
  margin-bottom: 30px;
}
.custom-pagination a {
  border: 0 !important;
  color: #555 !important;
}
.custom-pagination li.active a,
.custom-pagination li.active a:hover,
.custom-pagination li.active a:focus,
.custom-pagination li.active a:active {
  background: #fff;
  color: #f9a11d !important;
  outline: none !important;
}
.custom-pagination li:first-child a {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  font-size: 14px !important;
  padding: 0 5px 0 15px !important;
}
.custom-pagination li:first-child a:hover,
.custom-pagination li:first-child a:focus {
  outline: none !important;
}
.custom-pagination li:last-child a {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  padding: 0 15px 0 5px !important;
}
.custom-pagination li:first-child a span,
.custom-pagination li:last-child a span {
  font-size: 23px !important;
  color: #f9a11d !important;
}
/* pagination css end */

/* Category delete page custom css start */
.del_butn,
.edit-icon {
  cursor: pointer;
}
/* Category delete page custom css end */

/* Album show page custom css start */
.album-info-label .album-passcode {
  cursor: pointer;
}

.passcode-text {
  text-transform: none !important;
}
/* Album show page custom css end */

/* Portfolio album page custom css start */

.portfolio-thumbs-wrap {
  margin-top: 30px;
}
/* .portfolio-album-thub-wrap {
  margin-top: 30px;
} */
.portfolio-album-thub-wrap .overlay {
  cursor: zoom-in !important;
}
.portfolio-album-thub-wrap .fa-search-plus {
  color: #f9a11d;
}
.portfolio-album-title h1{
  margin-bottom: 0px;
}
.portfolio-album-title{
  padding-bottom: 0px;
}
/* Portfolio album page custom css end */

/* Album set cover page hover start */
.set-cover-pic {
  cursor: pointer;
  position: absolute;
  background: rgba(249, 161, 29, 0.9);
  color: #fff;
  padding: 10px 20px;
  margin-left: 15px;
  font-size: 14px;
  height: 30px;
  width: calc(100% - 30px);
  opacity: 0;
  bottom: 0;
  left: -30%;
  line-height: 30px;
  text-align: center;
  font-family: 'ralewaysemibold';
  letter-spacing: 1px;
  padding: 0px;
}
.album-image-wrap:hover .set-cover-pic {
  opacity: 1;
  left: 0;
}
/* Album set cover page hover end */

/* Site content about page css start */
.content-about-img-wrap {
  max-width: 260px;
}
#about_photo_edit,#watermark_photo_edit,
.custom-photo-edit {
  visibility: hidden;
}
.service-edit-icon {
  padding-top: 0px !important;
}
.custom-service-thumb {
  margin-right: 10px;
}
/* Site content about page css end */

/* Home page galery css start */
.slider-num .edit-slide {
  height: 14px;
  width: 14px;
}
/* Home page galery css end */

/* testimonial css starts */
.rating-button {
  background: none;
  border: 0;
  padding: 0;
}
.rating-button:focus {
  outline: none;
}
/* testimonial css ends */

/* front side feedback page css start  */
.feedback-img {
  width: 100%;
}
/* front side feedback page css end  */

/* Share album page css start */
.share-album-form .custom-form-control .Select-control {
  border: 0;
}
.left-15 {
  left: 15px;
}
.pic-selected:after {
  content: 'Selected';
  position: absolute;
  bottom: 0;
  left: 15px;
  background: rgba(249, 161, 29, 0.9);
  color: #fff;
  height: 30px;
  width: calc(100% - 30px);
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  font-family: 'ralewaysemibold';
  letter-spacing: 1px;
  z-index: 2;
}
.shared-album-wrap {
  border-radius: 6px;
  border: 1px solid #e7e7e7;
  padding-bottom: 30px;
  box-shadow: 3px 4px 5px rgba(1, 1, 1, 0.08);
}
.custom-comment-wrapper {
  float: left;
  width: 100%;
  margin-top: 2px;
  position: relative !important;
}
.add-comment {
  cursor: pointer;
}
.comment-disabled {
  cursor: not-allowed;
}
.custom-add-comment-icon {
  /* float: right; */
  text-align: center;
}
.custom-view-comment-icon {
  float: left;
}
.custom-submit-photos-wrap {
  position: fixed;
  bottom: 0px;
  z-index: 10;
  background-color: rgb(221, 221, 221);
  width: 100%;
  left: 0px;
  padding: 10px;
  border-top: 1px solid rgb(204, 204, 204);
}
.submit-photos-btn {
  float: right;
}
.footer-photo-selection-count {
  float: left;
}
.custom-pic-selection label {
  background: #c8c8c8 !important;
}
.share-album-title-details {
  top: calc(100% - 256px) !important;
}
.selected-photo-count {
  text-align: left;
}
/* Share album page css end */

/* Error page css start */
.input-error {
  top: -10px;
  position: relative;
  text-transform: capitalize;
  font-weight: bold;
}
.admin-side .input-error {
  top: 4px !important;
  position: relative;
  text-transform: capitalize;
  font-weight: normal !important;
  font-size: 13px;
}
.contact-control {
  margin-top: 5px !important;
}
/* Error page css end */

/* changes by binoli start */
.create-video-submit,
.create-video-cancel {
  padding: 10px 30px;
  font-family: 'ralewaysemibold';
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.create-video-submit:hover,
.create-video-submit:focus {
  background: #feae37;
  color: #fff;
  outline: none !important;
  box-shadow: none;
}
.create-video-cancel {
  background: #d7d7d7;
  margin-left: 20px;
  color: #555;
}
.create-video-cancel:hover,
.create-video-cancel:focus {
  outline: none !important;
}
.content-wrap .resend a:hover,
.content-wrap .resend a:focus {
  color: #00991a;
  text-decoration: underline;
}
.content-wrap .delete a:hover,
.content-wrap .delete a:focus {
  color: #e22122;
  text-decoration: underline;
}
.shared-album-wrap {
  margin-bottom: 30px;
}
/* changes by binoli end */

div.filepicker {
  padding: 39px !important;
}

/* contact and testimonial file upload circle */
.upload-image-thumb-wrap {
  overflow: hidden;
}

/* facebook icon on public pages */
.fb_btn {
  position: fixed;
  right: 0px;
  top: calc(50% - 100px);
  z-index: 0;
}
.facebook-img {
  height: 100px;
  width: 30px;
}

/* start photo count in portfolio album detail */

.portfolio-main-title {
  margin-bottom: 0 !important;
}
/* end photo count in portfolio album detail */

/* admin testimonial page css start */
.edit-testimonial-btn {
  right: 70px !important;
}
.testimonial-delete-icon {
  right: 20px !important;
}
/* admin testimonial page css end */

/* admin video page css start */
.video-edit-btn {
  right: 20px !important;
}
.remove-video-border{
  border-right: none !important;
}
/* admin video page css end */

/* album detail page css start */
.album-photo-thumbs > img {
  width: 100%;
}
.album-photo-thumbs {
  position: relative;
}
.album-photo-thumbs .overlay:after {
  content: '';
  background-image: url('../images/portfolio/hover-design.png');
  position: absolute;
  height: 70px;
  width: 70px;
  display: none;
  right: 15px;
  top: 15px;
  z-index: 10;
}
.album-photo-thumbs .overlay:before {
  content: '';
  background-image: url('../images/portfolio/hover-design.png');
  position: absolute;
  height: 70px;
  width: 70px;
  display: none;
  left: 15px;
  bottom: 15px;
  z-index: 10;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.album-photo-thumbs:hover .overlay:after,
.album-photo-thumbs:hover .overlay:before {
  display: block;
}
.album-photo-thumbs .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.album-photo-thumbs:hover .overlay {
  display: block;
}

.album-photo-thumbs-wrap .overlay-search {
  position: absolute;
  top: 43%;
  left: 43%;
  border: 1px solid #f9a11d;
  padding: 7px;
}
.photo-selection-checkbox,
.custom-cover-pic {
  z-index: 5;
}
.admin-view-comment {
  left: 30px;
  position: absolute;
  top: 15px;
  margin: 0;
  z-index: 1;
  cursor: pointer;
  background: #f9a11d;
  border-radius: 50%;
  height: 26px;
  width: 26px;
}
.admin-custom-view-comment-icon {
  text-align: center;
  padding: 4px;
  color: #fff;
  font-size: 16px;
}
.selection-album-link:hover {
  cursor: pointer;
  color: #f9a11d;
}
.commented-photo-count-wrapper {
  clear: left;
}
.album-deliverd-btn {
  margin-top: 10px;
}
.selected-photo-wrap {
  margin-bottom: 30px;
}
.photo-selection-count-with-progress {
  cursor: text;
}
.stoped-selection-album:hover {
  color: #f9a11d;
}
.album-image-wrap.selected-photo-name-wrapper:after {
  position: absolute;
  bottom: 0;
  left: 15px;
  background: rgba(249, 161, 29, 0.9);
  color: #fff;
  height: 30px;
  width: calc(100% - 30px);
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  font-family: 'ralewaysemibold';
  letter-spacing: 1px;
  z-index: 2;
}
.album-image-wrap.selected-photo-name-wrapper .set-cover-pic {
  opacity: 1;
  left: 0;
}
.text-lowercase {
  text-transform: none;
}
.inactive-album-section {
  background: red;
  text-align: center;
  height: 30px;
  margin-top: 10px;
}
.inactive-album-heading {
  color: #fff;
}
.activate-album-btn,
.activate-album-btn:hover {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: medium none;
  cursor: pointer;
  overflow: hidden;
  outline: medium none;
  color: rgb(255, 255, 255);
}
/* album detail page css end */

/* admin header page css start */
.navbar-fixed-top {
  z-index: 11;
}
.view-my-website-btn, .view-my-website-btn:hover{
  background: #1faf1f;
  margin-left: 20px;
}
.btn-green {
  border-radius: 20px;
  background: #1faf1f;
  color: #fff;
  border: 0;
}
.btn-green:hover,
.btn-green:focus{
  background:#1faf1f;
  color: #fff;
  outline: none !important;
  box-shadow: none;
  border:none;
}

.header-logout-btn,
.header-logout-btn:hover,
.header-logout-btn:focus
{
  background: #f0f0f0;
  color: #555;
}
/* admin header page css end */

/* start disable scroll in homepage gallery */
.disable-scrollbar {
  overflow: hidden;
}
/* end disable scroll in homepage gallery */

/* start view album in admin album detail page */
.view-album-detail,
.view-album-detail a:visited,
.view-album-detail a:hover {
  font-size: 15px;
  font-family: 'ralewaymedium';
  color: #666 !important;
  line-height: 34px;
  float: left;
  margin-left: 10px;
}
.edit-album-detail {
  color: #666;
  padding: 10px 15px;
  font-family: 'ralewaymedium';
  border-color: transparent;
  float: left !important;
}
.edit-album-detail img {
  margin-right: 3px;
}
.edit-album-detail:hover,
.edit-album-detail:focus {
  color: #666;
  border-color: transparent;
  background-color: transparent;
  outline: none !important;
}
/* end view album in admin album detail page */

/* start pulic view album in Album Listing Page */
.view-album-listing {
  font-size: 14px;
  font-family: 'ralewaymedium';
  color: #666;
  line-height: 41px;
  right: 85px;
  position: absolute;
  top: 8px;
}
.view-album-listing:hover,
.view-album-listing:focus {
  color: #666;
  outline: none !important;
}
.view-photo-listing {
  font-size: 14px;
  font-family: 'ralewaymedium';
  color: #666;
  line-height: 41px;
  right: 198px;
  position: absolute;
  top: 8px;
}
.view-photo-listing:hover,
.view-photo-listing:focus {
  color: #666;
  outline: none !important;
}
.add-photos-album-listing {
  font-size: 14px;
  font-family: 'ralewaymedium';
  color: #666;
  line-height: 41px;
  right: 310px;
  position: absolute;
  top: 8px;
}
.add-photos-album-listing:hover,
.add-photos-album-listing:focus {
  color: #666;
  outline: none !important;
}
.add-photos-album-listing img {
  background: #999;
  border-radius: 7px;
}

.add-photo {
  margin-top: 15px;
  margin-bottom: -15px;
}
.shared-album-select-all {
  float: left;
  margin-top: 0px;
  padding-left: 20px;
}
.inactive-album-wrap {
  background: #e2e2e2;
}
.deactive-checkbox {
  margin-top: 10px !important;
}
.album-status-checkboxes label {
  font-size: 14px;
  display: block;
}
.cancel-dropzone-btn{
  margin-left: 20px;
}
.cancel-dropzone-btn:hover{
  background: #666;
}
/* end pulic view album in Album Listing Page */
/* start video Listing page */
.sortBy-records {
  margin-right: 15px;
  margin-left: 20px;
}
.sortBy-records a {
  color: #545454;
}
.total-records {
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}
/* end video Listing page */
.admin-login-side .input-error {
  color: #f9a11d !important;
  /* margin: 23% !important; */
}

/* Comment popup page css start */
.add-comment-modal {
  padding-left: 15px;
}
.add-comment-modal .modal-content {
  border-radius: 0;
  border: 0;
  margin-bottom: 30px;
}
.add-comment-body {
  display: flex;
}
.close-comment-modal-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #c1c1c1;
  cursor: pointer;
  height: 15px;
  width: 15px;
  z-index: 1;
}
.add-comment-title-wrap {
  background: url('../images/admin/testimonial/sidebar.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.add-comment-title-details {
  padding: 0;
  position: absolute;
  top: 50%;
  height: 130px;
  margin-top: -65px;
  text-align: center;
}
.add-comment-icon {
  margin: 0 auto;
}
.add-comment-text {
  margin-top: 20px;
  text-transform: capitalize;
  font-family: 'ralewaymedium';
}
.add-comment-wrap {
  padding: 20px 15px;
}
.comment-form-group {
  position: relative;
  font-family: 'ralewayregular';
  margin-bottom: 25px;
}
.custom-label {
  text-transform: capitalize;
  font-weight: normal;
  color: #555;
  font-family: 'ralewaysemibold';
  font-size: 15px;
  letter-spacing: 0px;
  width: 100%;
}
.custom-textarea {
  overflow: hidden;
  border-bottom: 1px solid rgb(204, 204, 204);
  border: 0;
  box-shadow: none;
  border-radius: 0;
  position: relative;
  padding: 6px 20px 6px 12px;
  resize: none;
  font-size: 12px;
  color: #777;
  line-height: 18px;
}
.add-comment-submit {
  padding: 10px 30px;
  font-family: 'ralewaysemibold';
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-top: 15px;
}
.add-comment-cancel {
  background: #d7d7d7;
  margin-left: 20px;
  color: #555;
  padding: 10px 30px;
  font-family: 'ralewaysemibold';
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-top: 15px;
}
.add-comment-submit:hover {
  background: #feae37;
  color: #fff;
}
/* Comment popup page css end */

/* start social media page css */
.social-media-margin {
  margin-left: 43%;
}
.social-media-delete {
  margin-top: 15%;
}
.social_media_custom-label {
  text-transform: capitalize;
  font-family: 'ralewaysemibold';
  font-size: 12px;
  width: 100%;
}
.delete-social-media{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.Select.custom-form-control.social_media_custom-label.Select--single.is-clearable.is-searchable{
  z-index: 999999 !important;
}
/* end social media page css */
/* start cursor pointer */
.cursor-pointer {
  cursor: pointer;
}
/* end cursor pointer */
/* start for about us detail title */
.custom-form-control-label.required::after {
  content: '*';
  position: absolute;
  top: -3px;
  height: 0;
  width: 0;
  font-size: 30px;
  color: #fd6257;
  font-family: 'ralewaysemibold';
}
/* end for about us detail title */

/* share album popup page css start */
.view-album-url {
  color: #777;
  font-size: 12px;
  word-break: break-all;
}

/* share album popup page css end */

/* start album detail page css  */
.total-photo-count {
  margin-top: 6px;
  margin-right: 15px;
}
.total-photo-img {
  margin-top: 9px;
  margin-right: 8px;
}
.private-album {
  background-color: #ff0000;
}
.public-album {
  background-color: #1f96af;
}
.add-photoes-btn {
  border-radius: 20px !important;
}
.private-album-text,
.public-album-text {
  padding: 5px 5px !important;
  font-size: 12px !important;
  margin-top: 8px !important;
}
.add-photoes-btn,
.public-album,
.private-album {
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  /* margin-top: 9px; */
  float: left !important;
}
/* end album detail page css  */
.custom-form-control {
  font-size: 14px !important;
}
.album-sorting-option {
  display: inline-block;
  min-width: 200px;
  float: left;
  margin-right: 10px;
  z-index: 999;
}
/* Dropdown Settings menu start  */
.watermark-content-img {
  border: 1px solid #cecece;
}
.dropdown-setting-menu {
  padding: 0 !important;
}
.setting-menu-label {
  border: 0px;
}
/* Dropdown Settings menu end  */
/* start Share Album page */
.manage-selection-title,
.manage-selection-title:hover {
  color: white;
}
.allowed-comment-margin {
  margin-left: 15px;
}
.allow-selection-margin {
  margin-left: 2px;
}
.min-selected-photo-width {
  width: 62%;
  display: unset;
}
.share-album-align {
  text-align: center;
}
.view-activity-margin {
  margin-top: 10px;
}
.view-activity-link,
.view-activity-link:hover {
  color: #0000ff;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 16px;
  font-family: 'ralewaymedium';
}
/* end Share Album page */

/* signup page css start */
.country_select .Select-placeholder {
  margin-top: 7px;
  /* background-color: #efefef;
  border-bottom: 1px solid #e7e7e7 !important; */
}
.country_select .Select-placeholder:hover {
  /* background-color: #e1e1e1;
  border-bottom: 1px solid #ccc !important; */
}
.country_select{
  border-bottom: none;
}
.signup-form .input-error{
  margin: 0% !important;
  bottom: -18px;
  top: auto;
  position: absolute;
  font-size: 12px;
}
.signup-wrap{
  position: relative;
  height: 100vh;
  min-height: 1050px;
}
.login-form{
  position: absolute!important;
  right: 0px;
  top: -40px;
  left: 0px;
  bottom: 0px;
  max-height: max-content;
  margin: auto;
  border-radius: 20px;

}
.signup-wrap .page-inner-wrap{
  padding-top: 0;
}
.admin-login-btn, .admin-login-btn:hover{
  color: #fff;
}
.country_select span .Select-clear{
  display: none;
}
.signup-login-btn{
  float: right;
  margin-right: 25px;
}
.super-admin-name{
  margin-bottom: 25px;
}
.country_select .Select-value{
  margin-top: 15px;
  /* background-color: #efefef; */
}
.country_select .Select-value-label{
  /* color: #777 !important; */
}
.afterclix-logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.alias-input{
  margin-bottom: 0px !important;
}
.alias-example-text{
  font-size: 12px;
}
.login-footer{
  width: 100%;
}
.login-link{
  /* margin-bottom: 30px; */
  position: absolute;
  bottom: -55px;
  margin: 0px;
  left: 0;
  right: 0;
  text-align: center;
}
.login-link a{
  text-transform: uppercase;
  margin-right: 10px;
}
.login-textbox{
  border-radius: 5px;
  background-color: #fff !important;
  border: 1px solid #c1c1c1;
  color: #000 !important;
  padding-top: 25px;
  padding-bottom: 25px;
}
.login-addon{
  top: 13px;
}
.country .Select-input{
  border-radius: 5px;
  background-color: #fff !important;
  border: 1px solid #c1c1c1;
  color: #000 !important;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 112%;
}
.country .Select-control:hover,
.country .Select-control:focus{
  border-color: #b1b1b1;
  box-shadow: 0 0 2px 1px rgb(167,167,167);
}
.login-btn[disabled]:hover{
  background-color: #f9a11d;
}
/* signup page css end */

/* after super admin login user page css start */
.user-delete-icon{
  margin-left: 10px;
}
.user-flash-message{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px 256px;
  border: 1px solid transparent;
  border-radius: 4px;
}
/* after super admin login user page css end */

/* dashboard page css start */
.lets-do-btn{
  background: blue;
  margin-left: 20px;
}
.lets-do-btn:hover{
  background: blue;
}
.rounded-checkbox input[type="checkbox"]{
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.rounded-checkbox input[type="checkbox"]:checked{
  background-color: gray;
}
.rounded-checkbox .checkbox-heading{
  margin-left: 20px;
}
.album-management-completeness{
  margin-left: 38px;
}
.profile-completeness-instruction-bar{
  background: orange;
  color: #fff;
  padding: 10px;
}
.categories-table-wrap.custom-pad{
  padding: 15px 0px!important;
}
.categories-table-wrap .count-box-par{
  margin-top: 20px;
}
.categories-table-wrap .count-box:not(:nth-child(2)){
  width: calc(100% / 3 - 5px);
}
.categories-table-wrap .count-box:nth-child(2){
  padding: 0px 10px;
  width: calc(100% / 3 + 25px);
}
.categories-table-wrap .count-box .content{
  border-radius: 3px;
  padding: 20px;
  transition: all .5s ease-out;
  height: 100%;
  border: 1px solid #ffa500;
}
.categories-table-wrap .count-box .content:hover{
  box-shadow: none;
  transition: all .5s ease-out;
}
.categories-table-wrap .count-box .content label{
  display: block;
  color: #fff;
  font-size: 14px!important;
}
.categories-table-wrap .count-box .content h2{
  margin: 0px;
  color: #fff;
 }
/* dashboard page css end */
.d-flex{
  display: flex;
}
.font-size-12{
  font-size: 12px;
}
.font-size-16{
  font-size: 16px;
}
.help-wrap{
  margin-top: 30px;
}
.black-font{
  color: #000
}
.help-content-wrap:after{
  content:'';
  height: 3px;
  width: 150px;
  background: #f9a11d;
  display: block;
  bottom: -5px;
  left: 15px;
  margin-top: 30px;
}
.font-rale-mid{
  font-family: 'ralewaymedium';
}
.mb-20{
  margin-bottom: 20px;
}
.public-url-bar{
  background: #ccc
}
.album-count{
  font-weight: normal;
  color: #ffa500 !important;
}

/* Start selection in progress text css  */
.selection-progress-label{
  background-color: #eef91d;
  border-radius: 4px;
  padding: 4px;
  font-size: 10px;
  text-align: center;
}
/* end selection in progress text css  */
/* ============================================== */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.profile-form-group{
  position: relative;
  float: left;
  width: 100%;
}
.my-profile-plan-menu a{
  padding: 15px 17px !important;
}
.user-icon{
  height: 25px;
  width: 25px;
}
.setting-new-icon{
  width: 22px;
  height: 22px;
}

@media only screen and (max-width: 680px) {
  .private-album,
  .public-album,
  .edit-album-detail {
    margin: 5px 15px;
  }
}
@media only screen and (max-width: 568px) {
  .total-photo-count {
    margin-top: 0px;
  }
  .view-album-detail {
    margin-left: 5px !important;
    margin-top: 9px;
  }
  .categories-table-wrap .count-box .content{
    padding: 10px;
  }
  .count-box-par{
    flex-wrap: wrap;
  }
  .categories-table-wrap .count-box{
    width: 100%!important;
    padding: 5px 0px!important;
  }
  .categories-table-wrap .count-box .content label{
    font-size: 14px;
  }
  .categories-table-wrap .count-box .content h2{
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  /* album-listing page css starts*/

  .Select {
    display: block;
    min-width: 200px;
    float: none;
    clear: both;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .album-listing-title-wrap .all-selection-check {
    margin-top: 0px !important;
  }
  /* album-listing page css ends here*/
  /* album-detail page css starts*/
  .add-photoes-btn,
  .public-album,
  .private-album,
  .edit-album-detail {
    margin: 5px;
  }
  /*---------------------------*/
}

@media only screen and (max-width: 420px) {
  .public-album,
  .private-album {
    width: fit-content;
  }
  .add-photoes-btn,
  .public-album,
  .private-album,
  .edit-album-detail {
    float: none !important;
    clear: both;
    display: block;
    margin-bottom: 15px;
  }
}